
@media screen and (max-width: 1023px){
    .img-container {
        display: none;
    }

    body{
        background-image: linear-gradient(to top, #eeeeee, #ffffff);
    }

    .mob-hidden{
        position: absolute;
        top: 10%;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    h1{
        font-size: 2rem;
        color:  #3FC1C9;
        font-family: 'Source Sans Pro';
        text-align: center;
        font-weight: 600;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 10vw;
    }
    
    .container form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80vw;
    }
    
    .form img{
        margin: 0 0 20px 0;
    }   
    
    .group input{
        max-width: 300px;
        padding: 5px 5px 5px 40px;
        margin: 0 0 30px 0;
        bottom: 0;
        border: none;
        border-bottom: 2px solid rgba(255, 0, 0, 0.54);
        border-radius: 0;
        outline: none;
        box-shadow: none;
        background: none;
    }
    
    .form-control small{
        display: none;
    }

    .form-control.error small{
        visibility: visible;
        color: red;
        display: inline-block;
        margin-bottom: 15px !important;
        font-family: 'Source Sans Pro';
    }

    .form-control.error input{
        margin-bottom: 0;
    }

    .form-control.success small{
        display: none;
    }


    .group i{
        color: rgba(255, 0, 0, 0.54);
        width:10px;
        height: 10px;
        position: absolute;
        margin: 5px;
    }
    
    button{
        border: none;
        color: #dddddd;
        background-color: rgba(5, 0, 255, 0.81);
        padding: 5px 35px 5px 35px;
        margin-top: 0x;
        border-radius: 7px;
        font-size: 0.9em;
        font-family: 'Source Sans Pro';
        outline: none;
        box-shadow: none;
    }
    
    
    .image-preview {
        width: 80px;
        height: 80px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
        border: 2px solid #dddddd;
        text-align: center;
        border: none;
    }
    
    .image-preview__image {
        display: none;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .user-pic-btn{
        margin-bottom: 20px;    
        font-family: 'Source Sans Pro';
        color:rgba(0, 0, 0, 0.43);
    }
    
    span{
        width: 100%;
    }
    
    span img{
        width: 100%;
        margin-top: 3.6px;
        margin-left: -0.55px;
    }
    
    ::placeholder{
        font-family: 'Source Sans Pro';
        color: rgba(0, 0, 0, 0.43);
        font-weight: thin;
        font-size: 15px;
    }


}

@media screen and (min-width: 1024px){

    body{
        background-image: linear-gradient(to top, #eeeeee, #ffffff);
    }

    .mob-hidden{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    h1{
        font-size: 3rem;
        color:  #3FC1C9;
        font-family: 'Source Sans Pro';
        text-align: center;
        font-weight: 600;
        position: relative;
        left: -60px;
        top: 20px;
    }
    
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 10vw;
    }
    
    .container form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80vw;
    }
    
    .form img{
        margin: 0 0 20px 0;
    }   
    
    .group input{
        max-width: 300px;
        padding: 5px 5px 5px 40px;
        margin: 0 0 30px 0;
        bottom: 0;
        border: none;
        border-bottom: 2px solid rgba(255, 0, 0, 0.54);
        border-radius: 0;
        outline: none;
        box-shadow: none;
        background: none;
    }
    
    .group i{
        color: rgba(255, 0, 0, 0.54);
        width:10px;
        height: 10px;
        position: absolute;
        margin: 5px;
    }

    .form-control small{
        display: none;
    }

    .form-control.error small{
        visibility: visible;
        color: red;
        display: inline-block;
        margin-bottom: 15px !important;
        font-family: 'Source Sans Pro';
    }

    .form-control.error input{
        margin-bottom: 0;
    }

    .form-control.success small{
        display: none;
    }

    #profileDisplay{
        width: 100px;
    }
    
    button{
        border: none;
        color: #dddddd;
        background-color: rgba(5, 0, 255, 0.81);
        padding: 5px 35px 5px 35px;
        margin-top: 0x;
        border-radius: 7px;
        font-size: 0.9em;
        font-family: 'Source Sans Pro';
        outline: none;
        box-shadow: none;
    }
    
    
    .image-preview {
        width: 80px;
        height: 80px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
        border: 2px solid #dddddd;
        text-align: center;
        border: none;
    }
    
    .image-preview__image {
        display: none;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%; 
    }
   

    .user-pic-btn{
        margin-bottom: 20px;    
        font-family: 'Source Sans Pro';
        color:rgba(0, 0, 0, 0.43);
    }
    
    span{
        width: 100%;
    }
    
    span img{
        width: 100%;
        margin-top: 3.6px;
        margin-left: -0.55px;
    }
    
    ::placeholder{
        font-family: 'Source Sans Pro';
        color:rgba(0, 0, 0, 0.43);
        font-weight:500;
        font-size: 15px;
    }

}

